html {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
}

nav {
    width: 100vw;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8px;
    right: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
}

li {
    list-style-type: none;
    margin: 3vw 3vw;
    font-size: 16px;
    letter-spacing: 0.2em;
}
	
a{
    text-decoration: none;
    color: black;
    padding: 2vw;
}
	
a:hover {
    color: #826268;
}

h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 50px;
  width: 100vw;
  letter-spacing: 0.4em;
  position: absolute;
  text-align: center;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.5em;
    margin-bottom: 0.5em;
}

p {
   font-family: 'Nunito', sans-serif;
   font-weight: lighter;
   font-size: 14px;
   text-align: center;
   letter-spacing: 0.1em;
   line-height: 2.7em;
}

hr {
    width: 3em;
    text-align: center;
    margin-bottom: 2em;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 49.3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
}

.centered {
  position: absolute;
  margin-left: 3em;
  margin-right: 3em;
  top: 8%;
}

.btn {
  border: none;
  padding: 14px 20px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
}

.btn:hover {
	background: #eee;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: #FAFAFA;
	text-align: center;
	height: 100px;
}

.stars.large {
	height: 3px;
	width: 3px;
	background: transparent;
	box-shadow: $bxshadow-large;
	animation: blink-large 7s infinite;
}
.stars.medium {
	height: 2px;
	width: 2px;
	background: transparent;
	box-shadow: $bxshadow-medium;
	animation: blink-medium 5s infinite;
}
.stars.small {
	height: 1px;
	width: 1px;
	background: transparent;
	box-shadow: $bxshadow-small;
	animation: blink-small 3s infinite;
}

@keyframes blink-large {
	0% {
		box-shadow: $bxshadow-large;
	}	
	70% {
		$colors: '#fff', 'transparent';
		$stars: $bxshadow-large;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $bxshadow-large;
	}
}
@keyframes blink-medium {
	0% {
		box-shadow: $bxshadow-medium;
	}	
	70% {
		$colors: '#fff', 'transparent';
		$stars: $bxshadow-medium;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $bxshadow-medium;
	}
}
@keyframes blink-small {
	0% {
		box-shadow: $bxshadow-small;
	}	
	70% {
		$colors: '#fff', 'transparent';
		$stars: $bxshadow-small;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $bxshadow-small;
	}
}

div.ex1 {
  background-color: white;
  width: 100%;
  height: 200px;
  overflow: scroll;
}
