html {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
}

nav {
    width: 100vw;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8px;
    right: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
}

li {
    list-style-type: none;
    margin: 3vw 3vw;
    font-size: 16px;
    letter-spacing: 0.2em;
}
	
a{
    text-decoration: none;
    color: black;
    padding: 2vw;
}
	
a:hover {
    color: #DBDBDB;
}

h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 50px;
  width: 100vw;
  letter-spacing: 0.4em;
  position: absolute;
  text-align: center;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    margin-bottom: 0.5em;
}

p {
   font-family: 'Nunito', sans-serif;
   font-weight: lighter;
   font-size: 14px;
   text-align: center;
   letter-spacing: 0.1em;
   line-height: 2.7em;
}

hr {
    width: 3em;
    text-align: center;
    margin-bottom: 2em;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 49.3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
}

.centered {
  position: absolute;
  margin-left: 3em;
  margin-right: 3em;
  top: 8%;
}

.btn {
  border: none;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
}

.btn:hover {
background: #eee;
}
